.container{
  background-color: #fff;
  border-radius: 3px;
padding-left: 30px;
padding-right: 30px;
padding-bottom: 30px;
}

body{
  padding: 20px;
  background-color: #333
}

a{
  text-decoration: none;
  color: white;
}

#text
{
  border-radius: 30px;
  text-shadow:  1.5px 1.5px #fff;
  left: 70px;
  top: 40px;
  position: absolute;
  font-size:15px;
  transform:rotate(150deg);
  -webkit-transform:rotate(-45deg);
  background: linear-gradient(0deg, #D31027,#EA384D);

  background-size: 180% 180%;
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}





@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
